@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'PlusJakartaSans';
  src: url('../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PlusJakartaSans-1000';
  src: url('../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 1000;
  font-style: normal;
}