@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'shopifysans';
  src: url('../assets/fonts/Shopify\ Sans\ Web\ Medium\ Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'shopifysans-1000';
  src: url('../assets/fonts/Shopify\ Sans\ Web\ Medium\ Regular.ttf') format('truetype');
  font-weight: 1000;
  font-style: normal;
}